<header>
  <nav class="navbar navbar-dark fixed-top navbar-expand-md navbar-no-bg">
    <div class="container">
      <a class="navbar-brand" routerLink="/">
        <span class="logo-prefix">Time</span>Coffee</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link scroll-link" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scroll-link" routerLink="menu">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scroll-link" routerLink="news">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scroll-link" routerLink="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link scroll-link" routerLink="products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="loginbtn" routerLink="login" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
            <button type="button" *ngIf="logoutbtn" class="btn btn-block" (click)="logout()">logout</button>
          </li>
          <li class="nav-item">
            <a class="nav-link" *ngIf="loginbtn" routerLink="registration" routerLinkActive="active">Registration</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</header>
<footer class="coffee-footer">
  <div class="icon">
    <a href="https://www.facebook.com/"><img
      src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-facebook-circle-512.png"
      alt="facebook" width="40" height="40"></a>
    <a href="https://instagram.com/"><img
      src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-instagram-new-circle-512.png"
      alt="instagram" width="40" height="40"></a>
    <a href="https://snapchat.com/"><img
      src="https://cdn2.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-snapchat-circle-512.png"
      alt="snapchat" width="40" height="40"></a>
    <a href="https://github.com/"><img
      src="https://cdn0.iconfinder.com/data/icons/flat-social-media-icons-set-round-style-1/550/github-512.png"
      alt="github" width="40" height="40"></a>
    <a href="https://youtube.com/"><img
      src="https://cdn4.iconfinder.com/data/icons/social-messaging-ui-color-shapes-2-free/128/social-youtube-circle-512.png"
      alt="youtube" width="40" height="40"></a>
  </div>
  <div class="text-footer text-decor">
    <p>Blog template built for <a href="http://localhost:4200/home">Website</a> by Vio.</p>
  </div>
  <div class="icon">
    <a href="http://localhost:4200/menu">
      <img src="https://barista.qodeinteractive.com/wp-content/uploads/2017/01/home-3-icon-img-5.png" alt="New York"
           class="img-fluid" width="50" height="50"></a>
    <a href="http://localhost:4200/menu">
      <img src="https://barista.qodeinteractive.com/wp-content/uploads/2017/01/home-3-icon-image-2.png" alt="New York"
           class="img-fluid" width="50" height="50"></a>
    <a href="http://localhost:4200/menu">
      <img src="https://barista.qodeinteractive.com/wp-content/uploads/2017/01/home-3-icon-img-8.png" alt="New York"
           class="img-fluid" width="50" height="50"></a>
    <a href="http://localhost:4200/menu">
      <img src="https://barista.qodeinteractive.com/wp-content/uploads/2017/01/home-3-icon-image-4.png" alt="New York"
           class="img-fluid" width="50" height="50"></a>
    <a href="http://localhost:4200/menu">
      <img src="https://barista.qodeinteractive.com/wp-content/uploads/2017/01/home-3-icon-img-1.png" alt="New York"
           class="img-fluid" width="50" height="50"></a>
    <a href="http://localhost:4200/menu">
      <img src="https://barista.qodeinteractive.com/wp-content/uploads/2017/01/home-3-icon-img-7.png" alt="New York"
           class="img-fluid" width="50" height="50"></a>
    <a href="http://localhost:4200/menu">
      <img src="https://barista.qodeinteractive.com/wp-content/uploads/2017/01/home-3-icon-image-3.png" alt="New York"
           class="img-fluid" width="50" height="50"></a>
    <a href="http://localhost:4200/menu">
      <img src="https://barista.qodeinteractive.com/wp-content/uploads/2017/01/home-3-icon-image-6.png" alt="New York"
           class="img-fluid" width="50" height="50"></a>
  </div>

</footer>


