

<div class="jumbotron p-4 p-md-5 text-white rounded bg-black">
  <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic ">Title of a longer featured blog post</h1>
    <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently
      about what’s most interesting in this post’s contents.</p>
    <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
  </div>
</div>


<!-- START THE FEATURETTES -->
<main role="main">
  <div class="container">

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading text-decor text-center">Tipuri de prăjire a boabelor de cafea... </h2>
        <p class="text-decor">Un alt factor care poate influența gustul cafelei și, implicit, alegerea ta este tipul de
          prăjire.
          În funcție de timpul și de modul de prăjire a boabelor, cafeaua va avea diferite arome:
          &raquo; prăjire americană: mai este numită și prăjire obișnuită, boabele sunt prăjite mediu, pentru a obține o
          aromă
          moderată, care nu e nici prea puternică, dar nici prea slabă;
          &raquo;prăjire franceză: boabele sunt prăjite un timp îndelungat, până ajung la o culoare de un maro
          ciocolatiu și
          au o aromă puternică;
          &raquo;prăjire italiană: este folosită în special pentru espresso, iar boabele au o aromă puternică și o
          culoare
          închisă, între maro și negru;
          &raquo;prăjire europeană: este un amestec între ⅔ prăjire puternică și ⅓ prăjire moderată;
          &raquo; prăjire vieneză: este tot un amestec, dar între ⅓ prăjire puternică și ⅔ prăjire moderată.</p>
      </div>
      <div class="col-md-5">
        <img src="https://images.wallpaperscraft.com/image/coffee_coffee_beans_plant_165162_1280x1280.jpg" alt="Chicago"
             class="bd-placeholder-img-lg featurette-image img-fluid mx-auto">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading text-decor text-center">Cafeaua cu arome adăugate...</h2>
        <p class="text-decor">Gustul cafelei mai poate fi influențat și prin aromare artificială. Probabil ai observat
          în magazin cafea cu
          diverse arome: vanilie, ciocolată, irish cream, alune, rom, mentă sau scorțișoară.
          Multe dintre aceste arome se pot găsi și în anumite tipuri de boabe, dar nu sunt atât de pronunțate.
          Astfel, producătorii aleg să potențeze sau să modifice gustul prin adăugarea unor ingrediente aromatice în
          diverse
          momente ale procesării:
          &raquo;după ce boabele sunt prăjite, sunt adăugate aromele sub formă lichidă;
          &raquo; aroma sub formă de pudră este amestecată în cafeaua măcinată.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="https://images.wallpaperscraft.com/image/coffee_glass_coffee_maker_144401_1280x1280.jpg"
             alt="Chicago"
             class="bd-placeholder-img-lg featurette-image img-fluid mx-auto">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading text-decor text-center">Cum influențează țara de proveniență gustul...</h2>
        <p class="text-decor">În diferite regiuni ale lumii se produc boabe de cafea cu arome diverse și e bine să știi
          diferența între tipurile
          de gusturi și mirosuri, ca să poți alege o cafea care să fie exact pe gustul tău. Zonele principale din lume
          unde
          există plantații de cafea sunt Americile (de Sud și Centrală), țările exotice (Jamaica și Hawaii) și Africa
          (Kenya și Etiopia). Gustul diferit este influențat de climat și de tipul de sol.Prima zonă delimitată include:
          Caraibe, Columbia, Mexic, Panama, Costa Rica, Peru și Brazilia.
          Prin procesarea boabelor de cafea crescute în aceste țări se obține o cafea cu aciditate crescută, aromă fină,
          puțin dulceagă. Cafeaua va avea cea mai intensă aromă dacă boabele sunt prăjite mediu spre puțin.A doua zonă
          cuprinde: Asia, Indonezia și insulele din Pacific.
          Aroma cafelei obținută din boabele crescute în aceste locuri este mai dură, are aciditate scăzută și un gust
          consistent, aproape de pământ. Pentru a scoate la suprafață subtonurile florale, boabele de cafea trebuie
          prăjite foarte bine. A treia zonă înglobează Africa și Orientul mijlociu. Aroma cafelei din boabele obținute
          aici are intensitate medie, dar este foarte complexă, poate avea iz de ciocolată, citrice și chiar vin.
          Pentru a profita din plin de arome, boabele trebuie prăjite până se închid la culoare.</p>
      </div>
      <div class="col-md-5">
        <img src="https://images.wallpaperscraft.com/image/coffee_cup_drink_142534_1280x1280.jpg" alt="Chicago"
             class="bd-placeholder-img-lg featurette-image img-fluid mx-auto">
      </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading text-decor text-center">Tipul cafelei: Arabica vs. Robusta</h2>
        <p class="text-decor"> Tipul de cafea este un factor ce te poate influența atunci când îți alegi noua băutură.
          Există două tipuri,
          Arabica și Robusta, iar diferențele dintre acestea constau în gust, în condițiile în care arborii de cafea
          au fost crescuți, dar și în preț. Arabica este o specie cultivată la altitudini mari, are un număr dublu
          de cromozomi față de Robusta și este mai scumpă, deoarece trebuie recoltată în condiții pretențioase și
          are o aromă mai complexă.
          &raquo; aspect: înainte de prăjire, boabele au o culoare verde puternic și sunt mari ca dimensiune;
          &raquo; gust: este fin, ușor acid și nu foarte amar.
          Robusta este cultivată la altitudini mai mici și este varianta mai ieftină, deoarece costurile de creștere
          și recoltare sunt scăzute.
          &raquo; aspect: boabele proaspete au o culoare verde pal, cu tente de maro și sunt mai mici
          decât cele de Arabica;
          &raquo; gust: puternic, amar și dur.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="https://images.wallpaperscraft.com/image/coffee_coffee_beans_roasted_136543_1280x1280.jpg"
             alt="Chicago"
             class="bd-placeholder-img-lg featurette-image img-fluid mx-auto">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading text-decor text-center">De ce să alegi cafeaua proaspătă...</h2>
        <p class="text-decor">Deși cafeaua rezistă destul de mult dacă este depozitată corect, gustul ei se va schimba
          în timp. Uite de ce:
          &raquo; după ce boabele de cafea sunt prăjite, structura lor chimică începe să se schimbe imediat;
          &raquo; boabele încep să elibereze dioxid de carbon, într-un proces numit degazificare;
          &raquo; prin degazificare, uleiurile din interiorul boabelor încep să oxideze și, astfel, boabele devin mai
          puțin aromate.

          Prin urmare, pentru a te bucura de cea mai puternică aromă, ar trebui să bei cafeaua la o distanță de patru
          zile
          până la două săptămâni de la prăjire, în funcție de metoda de preparare. Spre exemplu, dacă îți place cafeaua
          la
          ibric, folosește boabele în prima săptămână, dar dacă ai un espressor, așteaptă o săptămână pentru cel mai bun
          gust.</p>
      </div>
      <div class="col-md-5">
        <img src="https://images.wallpaperscraft.com/image/coffee_coffee_beans_spray_cup_71631_1280x1280.jpg" alt="Chicago"
             class="bd-placeholder-img-lg featurette-image img-fluid mx-auto">
      </div>
    </div>
    <hr class="featurette-divider">


  </div><!-- /.container -->
</main>
<!-- /END THE FEATURETTES -->
