<body>
<header>
  <div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.wallpaperscraft.com/image/coffee_cups_coffee_machine_132777_1280x720.jpg"
             alt="Los Angeles" width="1100" height="500">
        <div class="carousel-caption">
          <h3>Los Angeles</h3>
          <p>We had such !</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.wallpaperscraft.com/image/coffee_crockery_cafe_114567_1280x720.jpg" alt="Chicago"
             width="1100" height="500">
        <div class="carousel-caption">
          <h3>Chicago</h3>
          <p>Thank you, Chicago!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://images.wallpaperscraft.com/image/coffee_cup_hands_120722_1280x720.jpg" alt="New York"
             width="1100" height="500">
        <div class="carousel-caption">
          <h3>New York</h3>
          <p>We love the Big Apple!</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</header>

<section>
  <div class="container-fluid">
    <h5 class="text-center text-decor pt-4" > The read more... </h5>
    <hr class="w-25 mx-auto pt-4">
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="http://cofirem.md/uploads/blog2cov.jpg" class="img-fluid" alt="Responsive Image">
      <p class="normal"> Cum să prepari un espresso perfect la tine acasă.</p>
      <a routerLink="/mycomp1" class="btn">
        <button type="button" class="btn btn-dark">View details &raquo;</button>
      </a>
    </div>

    <div class="col-md-4">
      <img src="http://cofirem.md/uploads/blog2cov.jpg" class="img-fluid" alt="Responsive Image">
      <p class="normal"> Cum să prepari un espresso perfect la tine acasă.</p>
      <a routerLink="/mycomp2" class="btn">
        <button type="button" class="btn btn-dark">View details &raquo;</button>
      </a>
    </div>

    <div class="col-md-4">
      <img src="http://cofirem.md/uploads/blog2cov.jpg" class="img-fluid" alt="Responsive Image">
      <p class="normal"> Cum să prepari un espresso perfect la tine acasă.</p>
      <a routerLink="/mycomp3" class="btn">
        <button type="button" class="btn btn-dark">View details &raquo;</button>
      </a>
    </div>

  </div>
  <hr>
</div> <!-- /container -->
</body>


